<html lang="en">
<body>
  <div class="create new location entry">
    <form action="/addData" method="POST">
      <label for="Latitude">latitude:</label>
      <input type="text" id="lat" name="lat" required>
      <label for="longitude">longitude:</label>
      <input type="text" id="longitude" name="lng" required>
      <button>Add</button>
    </form>
  </div>
</body>
</html>